/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-image-url: url('../images/cover-image-light.png');
  --page-bg-color: #ffeef6;
  --font-color: #353430;
  --accent-color: #FF8DCB;
  --decor-color: rgb(53, 52, 48);
  --title-color: #FFC2E6;
  --section-title-color: #353430;
  --subtitle-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --page-bg-image-url: url('../images/cover-image-light.png');
    --page-bg-color: #ffeef6;
    --font-color: #353430;
    --accent-color: #FF8DCB;
    --decor-color: rgb(53, 52, 48);
    --title-color: #FFC2E6;
    --section-title-color: #353430;
    --subtitle-color: #353430;
  }

  :root:not(.theme-dark) .header__rec {
    display: none;
  }
}

:root.theme-light .header__rec {
  display: none;
}